.orderPageDiv {
    margin-top: 90px;
    width: 100vw;
    /* height: 100vh; */
}

.orderPageTitle {
    margin-left: 2%;
    font-size: clamp(1em, 1.8vmax, 3em);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.611);
}

.OrderCompBox {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.OrderBoxContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 20px;
    /* overflow: hidden; */
}

.OrderBoxDetailContainer {
    display: flex;
    width: auto;
    padding: 5px;
}

.orderProductImage {
    height: auto;
    max-width: 15em;
    width: 200px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.OrderProduct {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
}

.orderProductDesc {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.647);
}

.orderProductTitle {
    font-size: clamp(0.6em, 2vamx, 5em);
    font-weight: 500;
}

.orderProductPrice {
    font-weight: 500;
    font-size: clamp(0.6em, 2vamx, 5em);
    /* color: #ec0d75; */
}

.orderProductAddress {
    font-size: clamp(0.6em, 2vamx, 5em);
}

.orderProductDate {
    font-size: clamp(0.6em, 2vamx, 5em);
    ;
}

.orderProducPayment {
    font-size: clamp(0.6em, 2vamx, 5em);

}

.paymentStatusText {
    background-color: #f563a7;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
    color: aliceblue;
}

.orderStatusText {
    background-color: #9ee721;
    padding: 2px 5px 2px 5px;
    border-radius: 2px;
}

.orderExpecedDelivery {
    font-size: clamp(0.6em, 2vamx, 5em);
}

.orderAddressType {
    font-size: clamp(0.6em, 2vamx, 5em);

}

.orderProductSize {

    font-size: clamp(1em, 1vmax, 3em);
}

.OrderDetailComp {
    margin-top: 90px;
    width: 100vw;
    display: flex;
    height: 100vh;
    justify-content: center;
    gap: 20px;
}

.Order-Track {
    width: auto;
    padding: 10px;
}



.orderDetailProductImage {
    max-width: 300px;
}

.OrderDetailProduct {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media(max-width:600px) {
    .OrderBoxContainer {
        flex-direction: column;
    }

    .orderProductDesc {
        align-content: start;
    }

    .OrderDetailComp {
        flex-direction: column;
        height: 100%;
    }

}

@media(max-width:950px) {
    .OrderBoxDetailContainer {
        flex-direction: column;
        justify-content: space-between;
    }

    .OrderDetailProduct {
        height: 300px;
        object-fit: contain;
    }
}