.nav {
    /* margin-top: 50px; */
    height: 70px;
    width: 100vw;
    background-color: #ffff;
    display: flex;
    box-shadow: 0px 0px 3px 0px;
    position: sticky;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    z-index: 999;
    top: 0;
}

.logo {
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: aqua; */
    padding-left: 50px;
}

.navItems {
    /* background-color: aqua; */
    width: 30%;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    position: relative;
}

.navItem {
    cursor: pointer;
    width: auto;
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    position: relative;
    transition: color 0.2s ease-in;
}

.activeNav {
    cursor: pointer;
    width: auto;
    font-size: 16px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #ec0d75;
}

.navItem:hover {
    color: #ec0d75;
}

/* .navItem:hover .navLayer {
    color: #9ee721;
    width: 100%;

} */

.navLayer {
    width: 0px;
    top: 25px;
    left: 0em;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background-color: #9ee721;
    transition: width 0.2s ease-in;
    cursor: pointer;
}

.searchBox {
    width: 20%;
    margin-left: 10px;
    /* background-color: antiquewhite; */
}

.search {
    width: 250px;
    height: 50px;
    background-color: #F1FCFB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
}

.search:focus {
    border: 2px solid #9ee721;
}

.cart {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.SearchIcon {
    height: 20px;
    width: 20px;
}

.AccountBox {
    width: 5%;
    /* background-color: #9ee721; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 10px; */
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 50% 50% 50% 50%; */

}

.userImage {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.accountText {
    font-weight: 300;
    font-size: small;
}