.nav {
    /* margin-top: 50px; */
    height: 70px;
    width: 100dvw;
    background-color: #ffff;
    display: flex;
    box-shadow: 0px 0px 3px 0px;
    /* justify-content: center; */
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    gap: 1.5em;
}

.navInfo {
    width: 30%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    /* background-color: aqua; */
    justify-content: space-around;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imageLogo {
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.navItems {
    width: 45%;
    height: 100%;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    gap: 50px;
    font-weight: 500;
    position: relative;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.navItem {
    cursor: pointer;
    width: auto;
    font-size: 1em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: aqua; */
    position: relative;
    transition: color 0.2s ease-in;
}

.activeNav {
    cursor: pointer;
    width: auto;
    font-size: 1em;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: #ec0d75;
}

.navItem:hover {
    color: #ec0d75;
}


.navLayer {
    width: 0px;
    top: 25px;
    left: 0em;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background-color: #9ee721;
    transition: width 0.2s ease-in;
    cursor: pointer;
}


.search {
    width: 20vmax;
    height: 80%;
    background-color: #e1ecea;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.searchBar {
    font-size: 1em;
    border: none;
    outline: none;
    height: 100%;
}

.search:focus {
    border: 2px solid #9ee721;
}

.cart {
    height: 3em;
    width: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-user {
    height: 3em;
    width: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart:hover {
    background-color: #E7E9EB;
    border-radius: 30px;
}

.demo-user:hover {
    background-color: #E7E9EB;
    border-radius: 30px;
}

.FavouriteIcon {
    height: 3em;
    width: 3em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FavouriteIcon:hover {
    background-color: #E7E9EB;
    border-radius: 30px;

}

.SearchIcon {
    height: 3vmin;
    width: 3vmin;
    opacity: 0.5;
    margin-left: 10%;
}

.AccountBox {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
}

.imageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 50% 50% 50% 50%; */

}

.userImage {
    height: 10px;
    width: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.accountText {
    font-weight: 300;
    font-size: small;
}

.hamberger {
    display: none;
    cursor: pointer;
    /* align-items: center; */
}

.menuIcon {}

.longNavbar {
    position: absolute;
    height: 100vh;
    width: 0px;
    right: 0;
    top: 0px;
    margin-top: 70px;
    z-index: 999;
    background-color: #ffff;
    transition: width 1s ease-in-out;
    overflow: hidden;
}

.ResponsivenavItems {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
    gap: 40px;
    margin-top: 20px;
}

.longNavbar.show {
    width: 250px
}

.closeIcon {
    width: 100%;
    display: flex;
    padding-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.close {
    transition: transform 0.2s ease-in
}

.close:hover {
    transform: rotate(180deg);
}


@media (max-width: 600px) {
    .navItems {
        display: none;
    }

    .hamberger {
        display: block;
    }

    .FavouriteIcon {
        display: none;
    }

    .navInfo {
        width: 60%;
        /* justify-content: flex-end; */

    }
}

/* @media (max-width: 600px) {
    .imageLogo {
        height: 40px;
        width: 40px;
    }
} */

.user-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50px;
}

@media(max-width:337px) {
    .AccountBox {
        height: 40px;
        width: 40px;
    }

    .imageLogo {
        height: 40px;
        width: 40px;
    }
}