@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.footerContainer {
    margin-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 500px;
    background-color: #101820;
    padding: 20px;
    color: white;
    position: relative;
}


.FooterHeader {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;

}



.div1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 60vmin;
    gap: 1em;
    /* background-color: aqua */


}

.div1title {
    font-family: "Archivo Black", sans-serif;
    font-size: 3vmax;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.914);
}


.div1Inputbox {
    width: 70%;
}

.div1Input {
    outline: none;
    width: 100%;
    border: 1px solid white;
    padding: 8px;
    font-size: 0.9vmax;
    color: rgba(255, 255, 255, 0.822);
}



.div1Input::placeholder {
    font-size: 0.9vmax;
    color: white;
}

.socialBox {
    margin-top: 10px;
    display: flex;
    gap: 2em;
    width: 90%;
}

.socialIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    cursor: pointer;
    width: 10vmin;
}

.downLoadOptionDiv {
    display: flex;
    width: 100%;
    gap: 3em;
}

.downLoadIMage {
    height: 150px;
    width: 150px;
    cursor: pointer;
}



@media(max-width:287px) {
    .downLoadIMage {
        height: 50px;
        width: 50px;
    }

    .downLoadOptionDiv {
        gap: 10px
    }
}

.div2 {
    height: 100%;
    width: 30vmin;
    /* background-color: blue; */

}

.div2Title {
    font-family: "Archivo Black", sans-serif;
    color: rgba(255, 255, 255, 0.822);
}

.div2Contect {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    height: 100%;
    gap: 10px;
    margin-top: 20px;

}

.div2Text {
    font-size: 1.2vmax;
    color: rgba(255, 255, 255, 0.822);
}

.LastDiv {
    right: 10;
    bottom: 2;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.lastDivText {
    color: rgba(255, 255, 255, 0.822);
    font-size: 1vmax;
    border-right: 1px solid white;
    border-style: dashed;
    padding: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-div {
    display: flex;
}

@media (max-width:877px) {
    .FooterHeader {
        flex-direction: column;
    }

    .div1 {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .div1Inputbox {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .div1title {
        font-size: 4vmax;
    }

    .div1Input {
        width: 60%;
    }

    .socialBox {
        width: 100%;
        justify-content: center;
    }

    .downLoadOptionDiv {
        justify-content: center;
    }

    .second-div {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;
        /* background-color: aqua; */
    }

    .div2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:376px) {
    .div1title {
        font-size: 3vmax;
    }
}

@media(max-width:290px) {
    .div1title {
        font-size: 2.5vmax;
    }

    .div1Input {
        width: 90%;
    }
}

@media(max-width:368px) {
    .downLoadIMage {
        width: 80px;
        height: 80px;
    }
}

@media(max-width:218px) {
    .div2Title {
        font-size: small;
    }
}