.sliderComponent {
    margin-top: 20px;
    width: 100vw;
    height: 450px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.BannerImag {
    height: 100%;
    width: 95vw;
    position: absolute;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.layer {
    border-radius: 20px;
    height: 100%;
    width: 95vw;
    background: linear-gradient(to top, #0c0b0b, #ca425d);
}

.pointer {
    display: flex;
    margin-top: 10px;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.point {
    height: 5px;
    width: 10px;
    background-color: black;
    border-radius: 10px;
    transition: opacity 0.5s ease-in, width 0.8s ease-in-out;
}